/Debug/
*.axf
*.map
*.ld
Debug/source/subdir.mk
Debug/source/MIMXRT1064_Project.o
Debug/source/MIMXRT1064_Project.d
Debug/MIMXRT1064_Project_Debug_memory.ld
Debug/MIMXRT1064_Project_Debug_library.ld
Debug/MIMXRT1064_Project_Debug.ld
Debug/MIMXRT1064_Project.map
Debug/MIMXRT1064_Project.axf
Debug/board/pin_mux.su
Debug/board/pin_mux.o
Debug/board/pin_mux.d
*.o
*.d
*.map
*.su
