
*.o
*.d
*.su

/Debug/
/Debug
Debug/board/board.d
Debug/board/board.o
Debug/board/board.su
Debug/board/clock_config.d
Debug/board/clock_config.o
Debug/board/clock_config.su
Debug/board/dcd.o
Debug/board/peripherals.d
Debug/board/peripherals.o
Debug/board/peripherals.su
Debug/board/pin_mux.d
Debug/board/pin_mux.o
Debug/board/pin_mux.su
Debug/board/subdir.mk
Debug/component/lists/fsl_component_generic_list.d
Debug/component/lists/fsl_component_generic_list.o
Debug/component/lists/fsl_component_generic_list.su
Debug/component/lists/subdir.mk
Debug/component/osa/fsl_os_abstraction_free_rtos.d
Debug/component/osa/fsl_os_abstraction_free_rtos.o
Debug/component/osa/subdir.mk
Debug/component/serial_manager/fsl_component_serial_manager.d
Debug/component/serial_manager/fsl_component_serial_manager.o
Debug/component/serial_manager/fsl_component_serial_manager.su
Debug/component/serial_manager/fsl_component_serial_port_uart.d
Debug/component/serial_manager/fsl_component_serial_port_uart.o
Debug/component/serial_manager/fsl_component_serial_port_uart.su
Debug/component/serial_manager/subdir.mk
Debug/component/uart/fsl_adapter_lpuart.d
Debug/component/uart/fsl_adapter_lpuart.o
Debug/component/uart/fsl_adapter_lpuart.su
Debug/component/uart/subdir.mk
Debug/device/subdir.mk
Debug/device/system_MIMXRT1064.d
Debug/device/system_MIMXRT1064.o
Debug/drivers/fsl_cache.d
Debug/drivers/fsl_cache.o
Debug/drivers/fsl_clock.d
Debug/drivers/fsl_clock.o
Debug/drivers/fsl_clock.su
Debug/drivers/fsl_common.d
Debug/drivers/fsl_common.o
Debug/drivers/fsl_common_arm.d
Debug/drivers/fsl_common_arm.o
Debug/drivers/fsl_gpio.d
Debug/drivers/fsl_gpio.o
Debug/drivers/fsl_lpuart.d
Debug/drivers/fsl_lpuart.o
Debug/drivers/fsl_lpuart.su
Debug/drivers/fsl_usdhc.d
Debug/drivers/fsl_usdhc.o
Debug/drivers/fsl_usdhc.su
Debug/drivers/subdir.mk
Debug/freertos/freertos-kernel/croutine.d
Debug/freertos/freertos-kernel/croutine.o
Debug/freertos/freertos-kernel/event_groups.d
Debug/freertos/freertos-kernel/event_groups.o
Debug/freertos/freertos-kernel/list.d
Debug/freertos/freertos-kernel/list.o
Debug/freertos/freertos-kernel/portable/GCC/ARM_CM4F/port.d
Debug/freertos/freertos-kernel/portable/GCC/ARM_CM4F/port.o
Debug/freertos/freertos-kernel/portable/GCC/ARM_CM4F/subdir.mk
Debug/freertos/freertos-kernel/queue.d
Debug/freertos/freertos-kernel/queue.o
Debug/freertos/freertos-kernel/stream_buffer.d
Debug/freertos/freertos-kernel/stream_buffer.o
Debug/freertos/freertos-kernel/subdir.mk
Debug/freertos/freertos-kernel/tasks.d
Debug/freertos/freertos-kernel/tasks.o
Debug/freertos/freertos-kernel/tasks.su
Debug/freertos/freertos-kernel/timers.d
Debug/freertos/freertos-kernel/timers.o
Debug/makefile
Debug/MIMXRT1064xxxxA_part.xml
Debug/sdmmc/host/fsl_sdmmc_host.d
Debug/sdmmc/host/fsl_sdmmc_host.o
Debug/sdmmc/host/fsl_sdmmc_host.su
Debug/sdmmc/host/subdir.mk
Debug/sdmmc/osa/fsl_sdmmc_osa.d
Debug/sdmmc/osa/fsl_sdmmc_osa.o
Debug/sdmmc/osa/subdir.mk
Debug/sdmmc/src/fsl_sdmmc_common.d
Debug/sdmmc/src/fsl_sdmmc_common.o
Debug/sdmmc/src/subdir.mk
Debug/source/semihost_hardfault.o
Debug/source/subdir.mk
Debug/sources.mk
Debug/startup/startup_mimxrt1064.o
Debug/startup/subdir.mk
Debug/utilities/fsl_assert.d
Debug/utilities/fsl_assert.o
Debug/utilities/fsl_debug_console.d
Debug/utilities/fsl_debug_console.o
Debug/utilities/fsl_debug_console.su
Debug/utilities/fsl_str.d
Debug/utilities/fsl_str.o
Debug/utilities/fsl_str.su
Debug/utilities/subdir.mk
Debug/xip/evkmimxrt1064_flexspi_nor_config.d
Debug/xip/evkmimxrt1064_flexspi_nor_config.o
Debug/xip/fsl_flexspi_nor_boot.d
Debug/xip/fsl_flexspi_nor_boot.o
Debug/xip/subdir.mk
*.d
*.o
